body {
    font-family: 'Roboto';
}

.navbar {
    background-color: #fff;
    box-shadow: 0px 0px 8px 0.5px #B5B5B5;
}

.nav-item a {
    color: #000000 !important
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}



.cart-header h3 {
    margin-top: 100px;
    font-family: 'Noticia Text';
    font-weight: bold;
}

.breadcrumb {
    margin-top: 90px;
}

.cart-breadcrumb {
    margin-top: 30px;
}

/* Produk Desa */
.produk-desa h3 {
    font-weight: bold;
}

.produk-desa p {
    color: #707070;
}

figure .figure-caption {
    font-family: 'Noticia Text';
}

.figure-caption p {
    font-size: 20px;
    font-family: 'Roboto';
    color: #B5B5B5;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.figure-img:hover a {
    opacity: 1;
}

/* Produk Terbaru */
.produk-terbaru h3 {
    font-weight: bold;
}

/* Single Item */
.figure img {
    width: 100%;
}

.single-item h3,
.single-item h5,
.single-item p {
    font-family: 'Noticia Text';
}

.single-item h3,
.single-item h5,
.single-item p {
    color: #707070;
}

.button-product {
    margin: 20px 0;
}

.button-product .btn,
.single-item a {
    margin: 10px 0;
    display: block;
    border-radius: 9px;
}

.product-thumbnail-container {
    background-color: #fff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 0 8px 0 8px;
    margin: auto;
    transform: translateY(-50px);
}

.single-item .table .fa {
    color: black;
}

/* Single Product */
.product-description {
    background-color: #f6f7fb;
    height: 350px;
}

.product-description .nav a {
    font-weight: bold;
    color: rgb(165, 165, 165);
    font-family: 'Noticia Text';

}

.product-description .nav .active {
    font-weight: bold;
    color: #495057;
}

.product-description .tab-content {
    background-color: white;
    border: 1px solid #dee2e6;
    border-top: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.product-description .tab-content p {
    font-family: 'Noticia Text';
    color: rgb(95, 95, 95);
    line-height: 22px;
}

.product-deskripsi {
    height: 330px;
}

.product-review {
    height: 330px;
}

.product-review h5 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 0;
}

.product-review p {
    margin-bottom: 0;
}

/* Produk Terkati */
.produk-terkait {
    margin-top: 145px;
}

/* informasi */
.informasi {
    background-color: #F3F3F3;
}

.informasi h4 {
    font-weight: bold;

}

.informasi p {
    color: #707070;
    font-size: 14px;
}

.informasi img {
    width: 50%;
}

footer {
    background-color: #E6E6E6;
}

footer p {
    font-size: 14px;
}

footer img {
    width: 25px;
}

.checkout-detail {
    background-color: #F8F0EE;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

.card-body h5,
h6,
small {
    font-weight: bold !important;
}

.btn-urutkan,
.btn-urutkan .btn {
    font-size: 22px;
}

@media(max-width : 1194px) {
    .navbar .nav-link {
        font-size: 12px;
    }
}

@media(max-width : 990px) {
    .navbar .nav-link {
        font-size: 16px;
    }

    .produk-desa h5 {
        font-size: 16px;
    }

    .produk-desa p {
        font-size: 14px;
    }

    .produk-terbaru h5,
    .produk-terkait .figure-caption h5 {
        font-size: 20px;
    }

    .produk-terbaru p,
    .produk-terkait .figure-caption p {
        font-size: 16px;
    }
}

@media(max-width : 636px) {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        opacity: 0;
    }
}

@media(max-width : 425px) {
    .display-all .row {
        margin-top: 90px;
    }

    .produk-desa h3 {
        font-size: 20px;
    }

    .produk-desa h5 {
        font-size: 16px;
    }

    .produk-desa p {
        font-size: 14px;
    }

    .produk-terbaru h3 {
        font-size: 20px;
    }

    .produk-terbaru h5,
    .produk-terkait .figure-caption h5 {
        font-size: 16px;
    }

    .produk-terbaru p,
    .produk-terkait .figure-caption p {
        font-size: 14px;
    }

    .informasi h4 {
        font-size: 14px;
    }

    .display-all h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .informasi p {
        font-size: 12px;
    }

    footer img {
        width: 18px;
        margin-right: 1px !important;
    }

    footer p {
        font-size: 12px;
    }

    .btn-urutkan,
    .btn-urutkan .btn {
        font-size: 16px;
    }

}
